__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
*.egg-info/
.DS_Store
mlruns/
mlflow-db/
models/
.env
*.zip
mlflow_creds.txt
# Uncomment if you don't want to commit trained model artifacts to git
# (many teams instead store these in DVC, MLflow, or a registry)
# models/*.joblib
# models/metadata.json
